.x-tree-arrows .preload
{
   background: transparent url("/images/frontend/theme/homeelectronics/brown/preloader_category.gif") 5px 6px no-repeat !important;
}

ul.x-tree-root-ct li div:hover .preload
{
   background: transparent url("/images/frontend/theme/homeelectronics/brown/preloader_category_highlighted.gif") 5px 6px no-repeat !important;
}

ul.x-tree-root-ct > li > div:hover .preload,
ul.x-tree-root-ct > li > div .preload
{
   background: transparent url("/images/frontend/theme/homeelectronics/brown/preloader_tree.gif") 0px 0px no-repeat !important;
}