{set layout="one_column_layout"}
<div id="st_user-edit_account" class="box roundies">
    <div id="st_navigation_bar-user" class="st_navigation_bar_user">
		<ul>
	    	<li class="st_first"><a href="/user_data/userPanel">{__ text="Moje konto"}</a></li>
	    	<li class="st_selected"><a href="/user/editAccount">{__ text="Moje dane"}</a></li>
		</ul>
	</div>
    
    <div id="st_user-editaccount" >   
    
    	<div class="left" style="width: 50%; margin-top: 15px;">
        	
        {if $billing_edit_url}	
        <div id="edit-billing" class="roundies box_form left">
    	<h3>{__ text="Dane płatnika"}</h3>
    	<div class="right" id="change_billing_edit"><a href="{$billing_edit_url}">{__ text="Zmień"}</a></div>
    	
    	
    		<div style="padding:15px;" class="user_profile_content">
				{if $billing_company!=""}
					<span class="invoice_text">{__ text="Dane do faktury"}</span>
					<br/>
					{$billing_company}<br/>
					{$billing_vat_number}<br/>
				{/if}
				            
				<div class="full_name_space">            
				<b>{$billing_full_name}</b>
				</div>
				
				{$billing_address}<br/>
				
				{if $billing_address_more!=""}
					{$billing_address_more}<br/>
				{/if}
				
				{if $billing_region!=""}
					{$billing_region}<br/>
				{/if}
				  
				{$billing_code}
				{$billing_town}<br/>
				
				{$billing_country}<br/>
				{$billing_phone}<br/>
			</div>
			                  
        </div>
        {/if}
        
        {if $delivery_edit_url}
        <div id="edit-delivery" class="roundies box_form left">
    	<h3>{__ text="Dane wysyłkowe"}</h3>
    	<div class="right" id="change_delivery_edit"><a href="{$delivery_edit_url}">{__ text="Zmień"}</a></div>
    		<div style="padding:15px;" class="user_profile_content">
				{if $delivery_company!=""}
					{$delivery_company}<br/>
				{/if}
				            
				<div class="full_name_space">
				<b>{$delivery_full_name}</b>
				</div>
				
				{$delivery_address}<br/>
				
				{if $delivery_address_more!=""}
					{$delivery_address_more}<br/>
				{/if}
				
				{if $delivery_region!=""}
					{$delivery_region}<br/>
				{/if}
				  
				{$delivery_code}
				{$delivery_town}<br/>
				
				{$delivery_country}<br/>
				{$delivery_phone}<br/>
			</div>
        </div>
        {/if}
        
        <div class="clear"></div>
        </div>
    
 		<div class="right" style="width: 50%; margin-top: 15px;">   
    	<div id="edit-login" class="roundies box_form right">
    	<h3>{__ text="Zmień e-mail (login)"}</h3>
    	
	        {$form_start}
		        <div class="box_form_content">
		    	<fieldset>
		    		
		                <div class="st_row">
		                    
    		                <div class="error_tooltip">
                                {if $error_email!=""}
                                    <img src="{image_path image='exclamation.png'}" title="{$error_email}"  alt="{$error_email}">
                                {/if}
                            </div>
                            
		                    <div class="st_field">
		                    	{$label_email}
		                        {$input_email}
		                    </div>
		                </div>  
		                
		                <div class="st_row">
					        <div class="buttons right">
					            <button type="submit" class="regular roundies" style="margin-right:2px">
					                {__ text="Aktualizuj"}
					            </button>
					        </div>	        
				        </div>
				        
		        </fieldset>   
		        </div>  
	        </form>
	        
        </div>
        
        
            
        <div id="edit-password" class="roundies box_form right">
    	<h3>{__ text="Zmień hasło"}</h3>
    	
        {$form_start_2}
	        <div class="box_form_content">
	    	<fieldset>
    		
                <div class="st_row">
                    <div class="error_tooltip">
                        {if $error_user_oldpassword!=""}
                            <img src="{image_path image='exclamation.png'}" title="{$error_user_oldpassword}"  alt="{$error_user_oldpassword}">
                        {/if}
                    </div>
                    
                    <div class="st_field">
						{$label_user_oldpassword}                    	
                        {$input_user_oldpassword}
                    </div>
                </div>  
                
                <div class="st_row">    
                    <div class="error_tooltip">
                        {if $error_user_password1!=""}
                            <img src="{image_path image='exclamation.png'}" title="{$error_user_password1}"  alt="{$error_user_password1}">
                        {/if}
                    </div>
                    
                    <div class="st_field">
                    	{$label_user_password1}
                        {$input_user_password1}
                    </div>
                </div>  
                
                <div class="st_row">
                    <div class="error_tooltip">
                        {if $error_user_password2!=""}
                            <img src="{image_path image='exclamation.png'}" title="{$error_user_password2}"  alt="{$error_user_password2}">
                        {/if}
                    </div>
                    <div class="st_field">
                    	{$label_user_password2}
                        {$input_user_password2}
                    </div>
                </div>  
            
                <div class="st_row">    
			        <div class="buttons right" style="margin-right:2px">
			            <button type="submit" class="regular roundies" >
			                {__ text="Aktualizuj"}
			            </button>
			        </div>    
		        </div>
		        
        	</fieldset>    
        	</div>
        </form>
        
        </div>
        
        
        <div id="edit-login" class="roundies box_form right">
        <h3>{__ text="Usuń konto"}</h3>
        
            {$form_start}
                <div class="box_form_content">
                <fieldset>
                    
                        <div class="st_row">
                            
                             {__ text="Po usunięciu konta wszystkie dane zostaną bezpowrotnie skasowane."}
                        </div>  
                        
                        <div class="st_row">
                            
                            <div class="buttons right">
                                <a href="/user/requestDeleteAccount" class="regular roundies" style="margin-right:2px"> {__ text="Usuń konto"}</a>
                            </div>
                            
                               
                        </div>
                        
                </fieldset>   
                </div>  
            </form>
            
        </div>
        
        
        <div class="clear"></div>
        </div>
        
        
    	<div class="clear"></div>
        
	</div>
</div>

{literal}
<script type="text/javascript">
jQuery(function ($)
{
	$(document).ready(function()
	{		
	     $(".error_tooltip img[title]").tooltip({ 
            effect: 'slide',
            opacity: 1,
            position: 'bottom right',
            offset: [15,4],
            tipClass: 'alert_tooltip'
        });
	    
		$("label").inFieldLabels();
		jQuery('#password1').pstrength();
	});
});
</script>
{/literal}
