{set layout="one_column_layout"}

<div id="st_application-user-account" class="box roundies">

    <div class="title">
        <h2>{__ text="Zmiana hasła."}</h2>
        <p>{__ text="Proszę sprawdzić pocztę."}</p>
    </div>

    <div class="st_content">    
    
        <p>
            {__ text="Na adres"} {$email} {__ text="została wysłana wiadomość z potwierdzeniem zmiany hasła."}<br/><br/>
            {$login_link}
        </p>
        
    </div>
    <div id="st_application-user-login-foot">
    </div>
</div>