{set layout="one_column_layout"}
<div id="st_application-user-account" class="box roundies">
    <div class="title">
        <h2>{__ text="Usuń konto"}</h2>
        <p>
           {__ text="Prośba o potwierdzenie usunięcia konta."}
        </p>
    </div>
    <div class="st_content">

        <div id="user_wait_confirm" class="box_form roundies">

            <div style="padding:25px;">
                <p>
                    {__ text="Proszę sprawdzić pocztę, na adres"}
                </p>
                <p>
                    <b>{$email}</b>
                </p>
                <p>
                    {__ text="została wysłana prośba o potwierdzenie operacji usunięcia konta."}
                </p>

                <div class="clear"></div>
            </div>
        </div>

        <div class="clear"></div>
    </div>

</div>