<div class="copyright clearfix text-muted">
    {if $lang!="pl_PL"}
         <a href="https://www.soteshop.com/" target="_blank">Proudly powered by<img src="{image_path image='copyright.png'}" alt="ecommerce software poland" title="online shops SOTE" width="39" height="12"/></a>

    {else}
        <a href="https://www.sote.pl/" target="_blank">sklep internetowy<img src="{image_path image='copyright.png'}" alt="sklepy internetowe" width="39" height="12" title="sklep internetowy SOTE"/></a>
    {/if}
</div>
