<div id="st_f_category_container" class="block">
    <div class="st_f_category_frame">
        <div class="st_f_category_frame_container">
            <div class="st_f_category_frame_header">
                <div class="st_f_category_frame_left">
                    <div class="st_f_category_frame_right">
                    </div>
                </div>
            </div>
            {st_get_component module="stProducer" component="list"}
            {$category_tree}
            <div class="st_f_category_frame_footer">
                <div class="st_f_category_frame_left">
                    <div class="st_f_category_frame_right">
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <br class="st_clear_all" />    
</div> 
