<div id="st_frame_text_main" class="st_f_text_container block">
    <div class="st_f_text_frame">    
        <div class="st_f_text_frame_container">
            <div class="st_f_text_frame_header">
                <div class="st_f_text_frame_left">
                    <div class="st_f_text_frame_right"></div>
                </div>
            </div>   
            <div class="st_f_text_frame_content" style="padding: 5px;">
            {$content}
            </div>
            <div class="st_f_text_frame_footer">
                <div class="st_f_text_frame_left">
                    <div class="st_f_text_frame_right"></div>
                </div>
            </div>
       </div>
    </div>  
    <br class="st_clear_all" />
</div>