#st_gift_card
{
   clear: right;
   float: right;
   width: 280px;
}

#st_gift_card .buttons
{
   margin-left: 3px;
   margin-top: -1px;
}


#st_gift_card-form,
#st_gift_card-info
{
   padding:15px 7px 10px 10px;
}

#st_gift_card-list
{
   text-align: right;

   padding-right: 5px;
}

#st_gift_card-list li
{
   margin-top: 5px;
}

#st_gift_card-list img
{
   vertical-align: middle;
}

#st_gift_card .form-error
{
    color: red;
    margin-left: 10px;
}

#st_application-order_save ul
{
   list-style: disc inside;
}

#st_application-order_save li
{
   color: red;
}

#st_application-order_save .st_button
{
   margin: 10px auto;

   width: 150px;
}

#gift_card_code
{
    width:156px;
}

#st_gift_card-form label
{
    width:146px;
}