<div id="top">
    <div id="header" class="hidden-xs">
        <div class="container">
            <div class="flex-sm">
                <div id="logo-top" {if $theme->hasThemeContent('h1-homepage-part1') || $theme->hasThemeContent('h1-homepage-part2')}class="slogan-width"{/if}>
                    <div>
                        <a href="{$homepage_url}">
                            <img class="img-responsive" src="{image_path image='logo.png'}" alt="" />
                        </a>
                    </div> 
                </div>
                {if $sf_context->getActionName()=="index" && $sf_context->getModuleName()=="stFrontendMain"}
                    {if $theme->hasThemeContent('h1-homepage-part1') || $theme->hasThemeContent('h1-homepage-part2')}
                        <div class="slogan"><h1 class="hidden-xs">{theme_content id='h1-homepage-part1'} <small>{theme_content id='h1-homepage-part2'}</small></h1></div>
                    {/if}
                {else}
                    {if $theme->hasThemeContent('h1-homepage-part1') || $theme->hasThemeContent('h1-homepage-part2')}
                        <div class="slogan"><h4 class="hidden-xs">{theme_content id='h1-homepage-part1'} <small>{theme_content id='h1-homepage-part2'}</small></h4></div>
                    {/if}
                {/if}

                <div id="top-social">
                    {st_get_component module="stSocialLinksFrontend" component="show"}    
                </div>
            </div>
        </div>
    </div>
    <div id="header-navbar-position">
        <nav id="header-navbar" role="navigation">
            <div class="container">  
                <div id="logo" class="visible-xs">
                    <div>
                        <a href="{$homepage_url}">
                            <img src="{image_path image='logo_small.png'}" alt="" />
                        </a>
                    </div> 
                </div>                 
                <div id="navbar-buttons" class="btn-group pull-right">  
                    <button id="nav-button-search" type="button" class="btn btn-navbar hidden-xs collapsed" data-toggle="collapse" data-target="#nav-search"  data-parent="#header-navbar">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>  

                    <button id="nav-button-shopping-cart" class="btn btn-navbar collapsed empty" data-toggle="collapse" data-target="#nav-shopping-cart"  data-parent="#header-navbar">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <small class="quantity"></small>
                    </button>

                    {if !$sf_user->isAuthenticated()} 
                    <a href="{url_for internal='stUser/loginUser' secure=true}" id="nav-button-user" class="hidden-xs btn btn-navbar collapsed">
                        <span id="login-status-info" class="glyphicon glyphicon-user"></span>
                        <small class="login-status">&nbsp;</small>
                    </a> 
                    <button id="nav-button-user" class="visible-xs btn btn-navbar collapsed" data-toggle="collapse" data-target="#nav-user" data-parent="#header-navbar">
                        <span id="login-status-info" class="glyphicon glyphicon-user"></span>
                        <small class="login-status">&nbsp;</small>
                    </button>     
                    {else}
                    <button id="nav-button-user" class="btn btn-navbar collapsed" data-toggle="collapse" data-target="#nav-user" data-parent="#header-navbar">
                        <span id="login-status-info" class="glyphicon glyphicon-user"></span>
                        <small class="login-status">&nbsp;</small>
                    </button>            
                    {/if}                                 
                    <button id="nav-button-settings" class="btn btn-navbar hidden-xs collapsed" data-toggle="collapse" data-target="#nav-settings" data-parent="#header-navbar">
                        <span class="glyphicon glyphicon-globe"></span>
                    </button>                                                                  
                </div>           
                <div class="navbar-header">
                    <button id="nav-button-menu" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" data-parent="#header-navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                            
                </div>
                <div id="nav-menu" class="navbar-collapse collapse">
                    {st_get_component module="stCategoryTree" component="horizontal"}
                </div>
                <div class="navbar-dropdown">                
                    <div id="nav-shopping-cart" class="navbar-collapse collapse">
                            {st_get_component module="stBasket" component="show"}
                    </div>
                    <div id="nav-user" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">               
                            {st_get_component module="stUser" component="loginStatus"}
                        </ul>
                    </div>
                    {strip}
                    <div id="nav-settings" class="hidden-xs navbar-collapse collapse">
                        <ul class="nav navbar-nav">    
                            <li class="dropdown">
                                {st_get_component module="stLanguageFrontend" component="choose"}
                            </li>
                            <li class="dropdown">
                                {st_get_component module="stCurrencyFrontend" component="pickCurrency"}
                            </li>                                                           
                        </ul>
                        {slot name="nav-setting" hidden="true"}{/slot}
                    </div>
                    {/strip}
                    <div id="nav-search" class="navbar-collapse collapse hidden-xs">
                        {include_file id="_search"}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>