{$form_start}
<div id="st_frame_pagenotfound" class="st_f_text_container block">
    <div class="st_f_text_frame">    
        <div class="st_f_text_frame_container">
            <div class="st_f_text_frame_header">
                <div class="st_f_text_frame_left">
                    <div class="st_f_text_frame_right"></div>
                </div>
            </div>   
            <div class="st_f_text_frame_content">
                <div class="st_pagenotfound_frame">
                    <h1>{__ text="Takiego produktu nie ma w sklepie"}</h1>
                </div>
            </div>
            <div class="st_button_pagenotfound">
                <div id="st_button-pagenotfound_success" class="st_button-container">
                    <div class="st_button st_align-right">
                        <div class="st_button-left">
                            {$main_page_submit}
                        </div>
                    </div>
                </div>
            </div>
            <div class="st_f_text_frame_footer">
                <div class="st_f_text_frame_left">
                    <div class="st_f_text_frame_right"></div>
                </div>
            </div>
       </div>
    </div> 
     
    <br class="st_clear_all" />
</div>
</form>