    <div id="edit-profile-form" class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title">
                {if isset($billing_data)}
                    {__ text="Dane płatnika"}
                {else}
                    {__ text="Dane wysyłkowe"}
                {/if}
            </h3>
        </div>
        
        <div class="panel-body">
       
       {if $show_message}
            <div class="alert alert-success" role="alert">{__ text="Dane zostały zaktualizowane."}</div>
       {/if}     
       
       {if $show_add!=""}
            {$edit_profiles}                 
	   {/if}     
		
       {$form_start}
              
        
       <div id="user_edit_profile_content">
       
        <div class="row">
        <div class="col-sm-6 col-lg-6">
        <div class="radio">
            <label>
                {$radio_customer_type1}
                {$label_customer_type1}
            </label>
        </div>
        </div>
        <div class="col-sm-6 col-lg-6">
        <div class="radio">
            <label>
                {$radio_customer_type2}
                {$label_customer_type2}
            </label>
        </div>
        </div>
        </div>
        
        <div id="company_fields">
            <div class="form-group  {if $error_company!=''}has-error{/if}">
                {if $error_company!=""}<label class="control-label" for="company">{$error_company}</label>{/if}
                {$input_company}
            </div>
            
           {if isset($billing_data)}
            <div class="form-group  {if $error_nip!=''}has-error{/if}">
                {if $error_nip!=""}<label class="control-label" for="nip">{$error_nip}</label>{/if}
                {$input_nip}
            </div>
            {/if}
        </div>
        
        <div class="form-group  {if $error_full_name!=''}has-error{/if}">
            {if $error_full_name!=""}<label class="control-label" for="full_name">{$error_full_name}</label>{/if}
            {$input_full_name}
        </div>
        
        <div class="form-group  {if $error_address!=''}has-error{/if}">
            {if $error_address!=""}<label class="control-label" for="address">{$error_address}</label>{/if}
            {$input_address}
        </div>
        
        {if $show_address_more==1}
        <div class="form-group">
            {$input_address_more}
        </div>
        {/if}
        
        {if $show_region==1}
        <div class="form-group">
            {$input_region}
        </div>
        {/if}
        
        <div class="row">
            
            <div class="col-sm-6 col-lg-4">
            
            <div class="form-group  {if $error_code!=''}has-error{/if}">
                {if $error_code!=""}<label class="control-label" for="code">{$error_code}</label>{/if}
                {$input_code}
            </div>
            </div>
                    
            <div class="col-sm-6 col-lg-8">
            <div class="form-group  {if $error_town!=''}has-error{/if}">
                {if $error_town!=""}<label class="control-label" for="town">{$error_town}</label>{/if}
                {$input_town}
            </div>
            </div>    
        </div>
        
        <div class="form-group">                    
            {$select_country}
        </div>
        
        {if $show_pesel==1}
        <div class="form-group">
            {$input_pesel}
        </div>
        {/if}
        
        <div class="form-group  {if $error_phone!=''}has-error{/if}">
            {if $error_phone!=""}<label class="control-label" for="phone">{$error_phone}</label>{/if}
            {$input_phone}
        </div>
	        
        {if $is_default!=1}
        
            {if $show_add==""}
            
                <input id="st_form-user-default" type="hidden" value="1" name="user_data[isDefault]">
            
            {else}
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                          {$checkbox_set_as_default} {__ text="Ustaw jako domyślne"}
                        </label>
                    </div>
                </div>
            
            {/if}
             
            {if $show_add!=""}
                <a class="btn btn-default pull-left" href="{$delete_url}">{__ text="Usuń"}</a>
	        {/if}
	        
        {else}
                
            <div class="form-group">
                <div class="checkbox">
                    <label>
                       <input type="checkbox" value="1" disabled="disabled" checked="true">
                       <input type="hidden" value="1" id="st_form-user-default" name="user_data[isDefault]">
                       {__ text="Ustaw jako domyślne"}
                    </label>
                </div>
            </div>
                   
        {/if}
      
        <button type="submit" class="btn btn-primary pull-right" >
            {__ text="Zapisz"}
        </button>
             
        {$hidden_show_edit_profile_form}
        {$hidden_uderdata_type}
        {$hidden_user_data_id}
        {$hidden_user_data_is_billing}
        {$hidden_userdata_id}
        
</div>
    </form>
    
</div>
</div>

    <div id="add-user-profile" class="center-block">                        
            {if $show_add!=""}
                {if isset($billing_data)}
                    <a href="/user_data/createProfile/userDataType/billing" class="btn btn-default pull-left">{__ text="Dodaj nowy adres"}</a>
                {else}
                    <a href="/user_data/createProfile/userDataType/delivery" class="btn btn-default pull-left">{__ text="Dodaj nowy adres"}</a>
                {/if}
            {/if}           
    </div>
{literal}
<script type="text/javascript">
jQuery(function ($)
{
	$(document).ready(function()
	{	
				
        var star_placeholder = $("#full_name").attr("placeholder");        
        var no_star_placeholder = star_placeholder.substring(2);
                
        if($('#user_data_customer_type_2').attr('checked'))
        {
            $("#company_fields").show();
            $("#full_name").attr("placeholder",no_star_placeholder);
        }else{
            $("#company_fields").hide();
            $("#full_name").attr("placeholder",star_placeholder);
        }
     
        $('#user_data_customer_type_1').click(function(){
            $("#company_fields").hide();
            $("#full_name").attr("placeholder",star_placeholder);        
        });
     
        $('#user_data_customer_type_2').click(function(){
            $("#company_fields").show();
            $("#full_name").attr("placeholder",no_star_placeholder);        
        });
		
        $( ".alert" ).addClass( "opacity_alert" );
        
        setTimeout(function() {
            $( ".alert" ).addClass( "hidden_alert" );
        }, 3000);
	  	
	});
});
</script>
{/literal}