{set layout="one_column"}
{st_get_component module="stUserData" component="responsiveUserPanelMenu" active_tab="1"}
<div id="create-first-user-data" >

    {$form_start}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title">
                {__ text="Dane płatnika"}
            </h3>
        </div>

        <div class="panel-body">
            <div class="row">
            <div class="col-sm-6 col-lg-6">
            
                <div class="radio">
                    <label> 
                        {$radio_billing_customer_type1}
                        {$label_billing_customer_type1} 
                    </label>
                </div>
            
            </div>    
            <div class="col-sm-6 col-lg-6">
            
            <div class="radio">
                <label> {$radio_billing_customer_type2}
                    {$label_billing_customer_type2} </label>
            </div>
            
            </div>
            </div>

            <div id="company_fields">
                <div class="form-group  {if $error_company!=''}has-error{/if}">
                    {if $error_company!=""}<label class="control-label" for="company">{$error_company}</label>{/if}
                    {$input_company}
                </div>

                <div class="form-group  {if $error_nip!=''}has-error{/if}">
                    {if $error_nip!=""}<label class="control-label" for="company">{$error_nip}</label>{/if}
                    {$input_nip}
                </div>
            </div>

            <div class="form-group  {if $error_full_name!=''}has-error{/if}">
                {if $error_full_name!=""}<label class="control-label" for="full_name">{$error_full_name}</label>{/if}
                {$input_full_name}
            </div>

            <div class="form-group  {if $error_address!=''}has-error{/if}">
                {if $error_address!=""}<label class="control-label" for="address">{$error_address}</label>{/if}
                {$input_address}
            </div>

            {if $show_address_more==1}
            <div class="form-group">
                {$input_address_more}
            </div>
            {/if}

            {if $show_region==1}
            <div class="form-group">
                {$input_region}
            </div>
            {/if}

            <div class="row">
                    
                <div class="col-sm-6 col-lg-4">

                <div class="form-group  {if $error_code!=''}has-error{/if}">
                    {if $error_code!=""}<label class="control-label" for="code">{$error_code}</label>{/if}
                    {$input_code}
                </div>
                </div>
                    
                <div class="col-sm-6 col-lg-8">
                <div class="form-group  {if $error_town!=''}has-error{/if}">
                    {if $error_town!=""}<label class="control-label" for="town">{$error_town}</label>{/if}
                    {$input_town}
                </div>
                </div>

            </div>

            <div class="form-group">
                {$select_country}
            </div>

            {if $show_pesel==1}
            <div class="form-group">
                {$input_pesel}
            </div>
            {/if}

            <div class="form-group  {if $error_phone!=''}has-error{/if}">
                {if $error_phone!=""}<label class="control-label" for="phone">{$error_phone}</label>{/if}
                {$input_phone}
            </div>

            <div class="checkbox">
                <label> {$checkbox_delivery} {__ text="Inne dane wysyłkowe"} </label>
            </div>

            

        </div>
        
        <div id="billing-submit" class="panel-body">
            <button type="submit" class="btn btn-primary pull-right" >
            {__ text="Zapisz"}
            </button>        
        </div>
        
        </div>
        <div id="create_user_delivery" class="panel-default">
        <div class="panel panel-default center-block" style="margin-top: 10px;">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {__ text="Dane wysyłkowe"}
                </h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                <div class="radio">
                    <label> {$radio_delivery_customer_type1}
                        {$label_delivery_customer_type1} </label>
                </div>
                </div>
                
                <div class="col-sm-6 col-lg-6">
                <div class="radio">
                    <label> {$radio_delivery_customer_type2}
                        {$label_delivery_customer_type2} </label>
                </div>
                </div>
                </div>

                <div id="company_delivery_fields">

                    <div class="form-group  {if $error_delivery_company!=''}has-error{/if}">
                        {if $error_delivery_company!=""}<label class="control-label" for="company_delivery">{$error_delivery_company}</label>{/if}
                        {$input_delivery_company}
                    </div>

                </div>

                <div class="form-group  {if $error_delivery_full_name!=''}has-error{/if}">
                    {if $error_delivery_full_name!=""}<label class="control-label" for="full_name_delivery">{$error_delivery_full_name}</label>{/if}
                    {$input_delivery_full_name}
                </div>

                <div class="form-group  {if $error_delivery_address!=''}has-error{/if}">
                    {if $error_delivery_address!=""}<label class="control-label" for="address_delivery">{$error_delivery_address}</label>{/if}
                    {$input_delivery_address}
                </div>

                {if $show_address_more==1}
                <div class="form-group">
                    {$input_delivery_address_more}
                </div>
                {/if}

                {if $show_region==1}
                <div class="form-group">
                    {$input_delivery_region}
                </div>
                {/if}

                 <div class="row">
                    
                    <div class="col-sm-6 col-lg-4">

                    <div class="form-group  {if $error_delivery_code!=''}has-error{/if}">
                        {if $error_delivery_code!=""}<label class="control-label" for="code_delivery">{$error_delivery_code}</label>{/if}
                        {$input_delivery_code}
                    </div>
                    </div>
                    
                    <div class="col-sm-6 col-lg-8">
                    <div class="form-group  {if $error_delivery_town!=''}has-error{/if}">
                        {if $error_delivery_town!=""}<label class="control-label" for="town_delivery">{$error_delivery_town}</label>{/if}
                        {$input_delivery_town}
                    </div>
                    </div>

                </div>

                <div class="form-group">
                    {$select_delivery_country}
                </div>

                {if $show_pesel==1}
                <div class="form-group">
                    {$input_delivery_pesel}
                </div>
                {/if}

                <div class="form-group  {if $error_delivery_phone!=''}has-error{/if}">
                    {if $error_delivery_phone!=""}<label class="control-label" for="phone_delivery">{$error_delivery_phone}</label>{/if}
                    {$input_delivery_phone}
                </div>

            </div>
            
            <div id="delivery-submit" class="panel-body">
                <button type="submit" class="btn btn-primary pull-right" >
                {__ text="Zapisz"}
                </button>        
            </div>
        </div>

    </div>

    {$hidden_delivery_id}
    {$hidden_billing_id}

    </form>

</div>

{literal}
<script type="text/javascript">
    jQuery(function($) {
        $(document).ready(function() {


            if ($('#different_delivery').attr('checked')) {
                $("#create_user_delivery").show();
                
                $("#billing-submit").hide();
                $("#delivery-submit").show();                                
            } else {
                $("#create_user_delivery").hide();
                
                $("#billing-submit").show();
                $("#delivery-submit").hide();
            }

            $('#different_delivery').click(function() {
                $("#create_user_delivery").toggle();
                $("#billing-submit").toggle();
                $("#delivery-submit").toggle();
            });
            
            if($("#billing_country").val()!= $("#st_form-user_delivery-country-select").val()){
                $("#create_user_delivery").toggle();
                $("#billing-submit").toggle();
                $("#delivery-submit").toggle();
                $('#different_delivery').prop('checked', true);
                $('#different_delivery').attr("disabled", true);
            }            
            
            $( "#billing_country" ).change(function() {
                                
                if($("#billing_country").val() == $("#st_form-user_delivery-country-select").val()){
                                        
                    $('#different_delivery').prop('checked', false);
                    $('#different_delivery').attr("disabled", false);
                    
                    $("#create_user_delivery").hide();                
                    $("#billing-submit").show();
                    $("#delivery-submit").hide();               
                }else{
                    
                    $('#different_delivery').prop('checked', true);
                    $('#different_delivery').attr("disabled", true);
                    
                    $("#create_user_delivery").show();                
                    $("#billing-submit").hide();
                    $("#delivery-submit").show();          
                }
                
            });
            
            var star_placeholder_billing = $("#full_name_billing").attr("placeholder");        
            var no_star_placeholder_billing = star_placeholder_billing.substring(2);

            if ($('#user_data_billing_customer_type_2').attr('checked')) {
                $("#company_fields").show();
                $("#full_name_billing").attr("placeholder", no_star_placeholder_billing);
            } else {
                $("#company_fields").hide();
                $("#full_name_billing").attr("placeholder", star_placeholder_billing);
            }

            $('#user_data_billing_customer_type_1').click(function() {
                $("#company_fields").hide();
                $("#full_name_billing").attr("placeholder", star_placeholder_billing);
            });

            $('#user_data_billing_customer_type_2').click(function() {
                $("#company_fields").show();
                $("#full_name_billing").attr("placeholder", no_star_placeholder_billing);
            });


            var star_placeholder_delivery = $("#full_name_delivery").attr("placeholder");        
            var no_star_placeholder_delivery = star_placeholder_delivery.substring(2);

            if ($('#user_data_delivery_customer_type_2').attr('checked')) {
                $("#company_delivery_fields").show();
                $("#full_name_delivery").attr("placeholder", no_star_placeholder_delivery);
            } else {
                $("#company_delivery_fields").hide();
                $("#full_name_delivery").attr("placeholder", star_placeholder_delivery);
            }
            
            $('#user_data_delivery_customer_type_1').click(function() {
                $("#company_delivery_fields").hide();
                $("#full_name_delivery").attr("placeholder", star_placeholder_delivery);
            });
            
            $('#user_data_delivery_customer_type_2').click(function() {
                $("#company_delivery_fields").show();
                $("#full_name_delivery").attr("placeholder", no_star_placeholder_delivery);
                
            });

        });

    }); 
</script>
{/literal}
