<div id="st_application-st_review-list_products">
    {if isset($review_products)}
    <div id="st_review-list_products">
        <div class="st_review-review_name" align="center">
            {__ text="Ocena i recenzja zakupionych produktów"}
        </div>
    {/if}
    {$form_start}
        {foreach key=row item=order_product from=$results}
            <div class="st_review-product">
                {$order_product.input_hidden_product_id}
                {$order_product.error_product_score}
                {$order_product.error_product_description}
                <div class="st_review-product_container">
                    <div class="st_review-product_show">
                        <div class="st_review-product_name">
                            {$order_product.product_name_link}
                        </div>    
                        <div class="st_review-product_photo">
                            {$order_product.product_image_link}
                        </div>
                    </div>
                    <div class="st_review-product_mark">
                        <span class="st_review-mark">
                            {__ text="Ocena"}:
                        </span>
                        {$order_product.product_score}
                    </div>
                </div>
                <div class="st_review-product_description">
                    {$order_product.product_description}
                </div>
                <br class="st_clear_all"/>
                <div class="st_review-product_agreement">
                    <span>
                        {$order_product.agreement_checkbox} {__ text="Wyrażam zgodę na opublikowanie mojej recenzji dla produktu"} {$order_product.product_name_link}
                    </span>
                </div>
            </div>
        {/foreach}
        {if isset($review_products)}
            <div class="st_review-last_row">
                <div id="st_button-review-send" class="st_button-container">
                    <div class="st_button st_align-right">
                        <div class="st_button-left">
                            {$save_submit}
                        </div>
                    </div> 
                </div>
            </div>
        {/if}
    </form>
    <br class="st_clear_all"/>
</div>