{set layout="one_column_layout"}
<div id="st_user-first_register" class="box roundies" >
    
    <div class="title">
        <h2>{__ text="Rejestracja"}</h2>
        <p>{__ text="Podaj dane płatnika i wysyłkowe."}</p>
    </div>

    <div id="create_account_form" class="st_content">
        	
	{$form_start}
    
    <div id="create_user_billing" class="roundies frame box_form">
        <h3>{__ text="Dane płatnika"}</h3>
        
        <fieldset>    
                            
        <div class="st_row">
			<div class="left">{$radio_billing_customer_type1} <i class="gray_text">{$label_billing_customer_type1}</i></div>

        	<div class="left">{$radio_billing_customer_type2} <i class="gray_text">{$label_billing_customer_type2}</i></div>
		<div class="clear"></div>
		</div>

		<div id="company_fields">                                           
			<div class="st_row">    
			    <div class="error_tooltip">
                   {if $error_company!=""}
                        <img src="{image_path image='exclamation.png'}" title="{$error_company}"  alt="{$error_company}">
                   {/if}
                </div>
			    <div class="st_field">
			    	{$label_company}
			        {$input_company}
			    </div>
			</div>
			
			<div class="st_row">
    			<div class="error_tooltip">
                   {if $error_nip!=""}
                        <img src="{image_path image='exclamation.png'}" title="{$error_nip}"  alt="{$error_nip}">
                   {/if}
                </div>
			    <div class="st_field">
			    	{$label_nip}
			        {$input_nip}
			    </div>
			</div>
		</div>
		    
		<div class="st_row">
    		<div class="error_tooltip">
               {if $error_full_name!=""}
                    <img src="{image_path image='exclamation.png'}" title="{$error_full_name}"  alt="{$error_full_name}">
               {/if}
            </div>
		    <div class="st_field">
		    	{$label_full_name}
		        {$input_full_name}
		    </div>
		</div>
		
		<div class="st_row">
		    <div class="error_tooltip">
               {if $error_address!=""}
                    <img src="{image_path image='exclamation.png'}" title="{$error_address}"  alt="{$error_address}">
               {/if}
            </div>
		    <div class="st_field">
		        {$label_address}
		        {$input_address}
		    </div>
		</div>
		
		{if $show_address_more==1}
		<div class="st_row">
		    <div class="st_field">
		        {$label_address_more}
		        {$input_address_more}
		    </div>
		</div>
		{/if}
		
		{if $show_region==1}
		<div class="st_row">
		    <div class="st_field">
		    	{$label_region}
		        {$input_region}
		    </div>
		</div>
		{/if}
		
		<div class="st_row">
		    <div class="error_tooltip">
               {if $error_code_town!=""}
                    <img src="{image_path image='exclamation.png'}" title="{$error_code_town}"  alt="{$error_code_town}">
               {/if}
            </div>
		        
		    <div class="st_field left">
		    	{$label_code}
		        {$input_code}
		    </div>
		    
		    <div class="st_field left" style="margin-left:4px;">                                   
		        {$label_town}
		        {$input_town}
		    </div>
		<div class="clear"></div>    
		</div>
		
		<div class="st_row">
		    <div class="st_field">
		        {$select_country}             
		    </div> 
		</div>
		
		<div class="st_row">
		    <div class="error_tooltip">
               {if $error_phone!=""}
                    <img src="{image_path image='exclamation.png'}" title="{$error_phone}"  alt="{$error_phone}">
               {/if}
            </div>
		    <div class="st_field">
		    	{$label_phone}
		        {$input_phone}
		    </div>
		</div>
		
		{if $show_pesel==1}
		<div class="st_row">
		    <div class="st_field">
		    	{$label_pesel}
		        {$input_pesel}
		    </div>
		</div>
		{/if}     
		
		<div class="st_row">
	        <div class="st_field left gray_text vertical-align-middle">
		    	{$checkbox_delivery}
		        <span >{__ text="Inne dane wysyłkowe"}</span>
	    	</div>
	    	<div class="clear"></div>
	    </div>    
	    
	    <div class="st_row">
        <div class="st_field gray_text vertical-align-middle">
            <span>&nbsp;&nbsp;*&nbsp;{__ text="Pola wymagane"}</span>
        </div>
    </div>
    </fieldset>                                      
    </div>
    
    
        <div id="create_user_delivery" class="roundies frame box_form">
        <h3>{__ text="Dane wysyłkowe"}</h3>
        
        <fieldset>
        
        <div class="st_row">
			<div class="left">{$radio_delivery_customer_type1} <i class="gray_text">{$label_delivery_customer_type1}</i></div>

        	<div class="left">{$radio_delivery_customer_type2} <i class="gray_text">{$label_delivery_customer_type2}</i></div>
		<div class="clear"></div>
		</div>
        
        <div id="company_delivery_fields">
	        <div class="st_row">
	            <div class="error_tooltip">
                   {if $error_delivery_company!=""}
                        <img src="{image_path image='exclamation.png'}" title="{$error_delivery_company}"  alt="{$error_delivery_company}">
                   {/if}
                </div>    
	            <div class="st_field">
	            	{$label_delivery_company}
	                {$input_delivery_company}
	            </div>
	        </div>    
        </div>
            
        <div class="st_row">
            <div class="error_tooltip">
               {if $error_delivery_full_name!=""}
                    <img src="{image_path image='exclamation.png'}" title="{$error_delivery_full_name}"  alt="{$error_delivery_full_name}">
               {/if}
            </div>
            <div class="st_field">
            	{$label_delivery_full_name}
                {$input_delivery_full_name}
            </div>
        </div>
        
        <div class="st_row">
            <div class="error_tooltip">
               {if $error_delivery_address!=""}
                    <img src="{image_path image='exclamation.png'}" title="{$error_delivery_address}"  alt="{$error_delivery_address}">
               {/if}
            </div>    
            <div class="st_field">
                {$label_delivery_address}
                {$input_delivery_address}
            </div>
        </div>
        {if $show_address_more==1}
        <div class="st_row">
            <div class="st_field">
                {$label_delivery_address_more}
                {$input_delivery_address_more}
            </div>
        </div>
        {/if}
        
        {if $show_region==1}
        <div class="st_row">
            <div class="st_field">
            	{$label_delivery_region}
                {$input_delivery_region}
            </div>
        </div>
        {/if}
        
        <div  class="st_row">
            <div class="error_tooltip">
               {if $error_delivery_code_town!=""}
                    <img src="{image_path image='exclamation.png'}" title="{$error_delivery_code_town}"  alt="{$error_delivery_code_town}">
               {/if}
            </div>
            <div class="st_field left">
            	{$label_delivery_code}
                {$input_delivery_code}
            </div>
            
            <div class="st_field left" style="margin-left:4px;">
            	{$label_delivery_town}
                {$input_delivery_town}
            </div>
            
        <div class="clear"></div>
        </div>
        
        <div class="st_row">
            <div class="st_field">
                {$select_delivery_country}         
            </div> 
        </div>
        
        <div class="st_row">
            <div class="error_tooltip">
               {if $error_delivery_phone!=""}
                    <img src="{image_path image='exclamation.png'}" title="{$error_delivery_phone}"  alt="{$error_delivery_phone}">
               {/if}
            </div>    
            <div class="st_field">
            	{$label_delivery_phone}
                {$input_delivery_phone}
            </div>
        </div>
        <div class="st_row">
        <div class="st_field gray_text vertical-align-middle">
            <span>&nbsp;&nbsp;*&nbsp;{__ text="Pola wymagane"}</span>
        </div>
    </div>
    </fieldset>
    </div>

                        
    <div id="st_button-user-edit_data" class="buttons right">
        <button type="submit" class="regular roundies" >
            <span class="arrow_right">{__ text="Zapisz"}</span>
        </button>
    </div>
    <div class="clear"></div>
    
                    
                    
	{$hidden_delivery_id}
	{$hidden_billing_id}
	
    </form>
    
    </div>
        
    <div class="clear"></div>
</div>


{literal}
<script type="text/javascript">
jQuery(function ($)
{
	$(document).ready(function()
	{		
	    $(".error_tooltip img[title]").tooltip({ 
            effect: 'slide',
            opacity: 1,
            position: 'bottom right',
            offset: [15,4],
            tipClass: 'alert_tooltip'
        });
	    
		$("label").inFieldLabels();
		
		function equalHeight(group)
		{
		tallest = 0;
		group.each(function() {
		$(this).css("height","auto");
		thisHeight = $(this).height();
		if(thisHeight > tallest) {
		tallest = thisHeight;
		}
		});
		group.height(tallest);
		}
		
		function changeCss()
		{
			if($('#different_delivery').attr('checked'))
			{
				$("#create_user_delivery").show()
				$('#create_user_billing').css('float','left');
				$('#create_user_delivery').css('float','right');
				$('#st_button-user-edit_data').addClass('two_frame').removeClass('one_frame');
				equalHeight($(".frame"));
			}else{
				$("#create_user_delivery").hide();	
				$('#create_user_billing').css('float','none');
				$('#create_user_delivery').css('float','none');
				$('#st_button-user-edit_data').addClass('one_frame').removeClass('two_frame');
				equalHeight($(".frame"));
			}
		}
		
 	 	 	 	
		$('#different_delivery').click(function(){
		changeCss();
		});
		
		
		if($('#user_data_delivery_customer_type_2').attr('checked'))
		{
			$("#company_delivery_fields").show();
			$("#full_name_delivery_label").text({/literal}"{$label_delivery_full_name_text}"{literal});
		}else{
			$("#company_delivery_fields").hide();	
		}
 	 
 	 	$('#user_data_delivery_customer_type_1').click(function(){
			$("#company_delivery_fields").hide();
			$("#full_name_delivery_label").text({/literal}"* {$label_delivery_full_name_text}"{literal});
			equalHeight($(".frame"));
		});
 	 
		$('#user_data_delivery_customer_type_2').click(function(){
			$("#company_delivery_fields").show();
			$("#full_name_delivery_label").text({/literal}"{$label_delivery_full_name_text}"{literal});
			equalHeight($(".frame"));
		});
		
		
		if($('#user_data_billing_customer_type_2').attr('checked'))
		{
			$("#company_fields").show();
			$("#full_name_label").text({/literal}"{$label_full_name_text}"{literal});
		}else{
			$("#company_fields").hide();
		}
 	 
 	 	$('#user_data_billing_customer_type_1').click(function(){
			$("#company_fields").hide();
			$("#full_name_label").text({/literal}"* {$label_full_name_text}"{literal});
			equalHeight($(".frame"));
		});
 	 
		$('#user_data_billing_customer_type_2').click(function(){
			$("#company_fields").show();
			$("#full_name_label").text({/literal}"{$label_full_name_text}"{literal});
			equalHeight($(".frame"));
		});
		
		changeCss();
 	 	equalHeight($(".frame"));
			 
	});
	
	
});
</script>
{/literal}
