{set layout="one_column"}
<div id="create-password">

<div id="create-password-form" class="panel panel-default center-block">
    <div class="panel-heading">
        <h3 class="panel-title">
            {__ text="Dane konta"}
        </h3>
    </div>
    <div class="panel-body">
        <p class="text-center">
            {__ text="Nie masz jeszcze założonego konta. Wystarczy, że podasz hasło dla loginu"}: <b>{$login}</b><br>
            {__ text="Uzyskasz w ten sposób pełne konto z dostępem do swoich danych i informacji o statusach zamówienia."}
        </p>    	
        
        
        {$form_start}    	
        <div class="form-group  {if $error_email!=''}has-error{/if}">
            {if $error_email!=""}<label class="control-label" for="email">{$error_email}</label>{/if}
            {$input_email}
        </div>

        <div class="form-group  {if $error_password1!=''}has-error{/if}">
            {if $error_password1!=""}<label class="control-label" for="password1">{$error_password1}</label>{/if}
            {$input_password1}
            <script type="text/javascript">
                jQuery('#st_form-user-password1').pstrength();
            </script>
        </div>

        <div class="form-group  {if $error_password2!=''}has-error{/if}">
            {if $error_password2!=""}<label class="control-label" for="password2">{$error_password2}</label>{/if}
            {$input_password2}
        </div>

        <div class="checkbox">
            <label class="{if $error_privacy==1}checkbox_error{/if}">
                {$checkbox_privacy} Akceptuję {st_get_component module="stWebpageFrontend" component="link" state="TERMS" label="regulamin"} i {st_get_component module="stWebpageFrontend" component="link" state="PRIVACY" label="politykę prywatności"} 
            </label>
        </div>

        {if isset($captcha_on)}
        <div id="captcha_form">

            <div style="margin-bottom: 2px;">
                {$get_captcha}
            </div>

            <div class="form-group  {if $error_captcha!=''}has-error{/if}">
                {if $error_captcha!=""}<label class="control-label" for="captcha_img">{$error_captcha}</label>{/if}
                {$input_captcha}
            </div>

        </div>
        {/if}

        <button type="submit" class="btn btn-primary pull-right">
            {__ text="Zarejestruj"}
        </button>
            
        </form>
      
    </div>
    
    </div>
    
    </div>
{literal}
<script type="text/javascript">
jQuery(function ($)
{
	$(document).ready(function()
	{		
			 
		$('#st_form-user-privacy').click(function(){
			$("#captcha_form").toggle();
		});	
		
		if($('#st_form-user-privacy').attr('checked'))
		{
			$("#captcha_form").show()
		}else{
			$("#captcha_form").hide();
		}	 
	});
	
	
});
</script>
{/literal}
