{set layout="one_column"}
<div id="confirm-send-password">

    {$form_start}

    <div id="create-new-password-form" class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title">
                {__ text="Podaj nowe hasło."}
            </h3>
        </div>
        <div class="panel-body">            

            {$form_start}
            <div class="form-group  {if $error_email!=''}has-error{/if}">
                {if $error_email!=""}<label class="control-label" for="email">{$error_email}</label>{/if}
                {$input_email}
            </div>

            <div class="form-group  {if $error_password1!=''}has-error{/if}">
                {if $error_password1!=""}<label class="control-label" for="password1">{$error_password1}</label>{/if}
                {$input_password1}
                <script type="text/javascript">
                    jQuery('#st_form-user-password1').pstrength();
                </script>
            </div>

            <div class="form-group  {if $error_password2!=''}has-error{/if}">
                {if $error_password2!=""}<label class="control-label" for="password2">{$error_password2}</label>{/if}
                {$input_password2}
            </div>

            {if isset($captcha_on)}
            <div class="form-group">
            <div id="captcha_form">
                
                {if $error_captcha!=""}<div class="has-error"><label class="control-label" for="captcha_img">{$error_captcha}</label></div>{/if}
                <div class="clearfix"></div>
                
                <div class="captcha-img {if $error_captcha!=''}has-error{/if}">
                    {$get_captcha}
                </div>
    
                <div class="form-group captcha-input {if $error_captcha!=''}has-error{/if}">    
                    {$input_captcha}
                </div>
                
                <div class="clearfix"></div>
            </div>
            </div>
            {/if}

            {$hidden_hash_code}

            <button type="submit" class="btn btn-primary pull-right">
                {__ text="Zmień hasło"}
            </button>

            </form>

        </div>

    </div>

</div>

{literal}
<script type="text/javascript">
    jQuery(function($) {
        $(document).ready(function() {

            

            
        });

    }); 
</script>
{/literal}
