<div id="st_component-st_payment-list" class="st_payment-list-table">
    {if $hasPaymentType}
        <h3>{__ text="Płatności"}</h3>
        <ul>
        {foreach key=row item=payment from=$results} 
            <li class="payment">
            {$payment.radio} {$payment.name}
                <p style="margin-left: 25px">{$payment.description}</p>
                <p style="margin-left: 25px">{$payment.paymentTypeSocket}</p>
            </li>
        {/foreach}
        </ul>
    {else}
        <h3>{__ text="Płatności"}</h3>
        <ul>
            <li class="payment">{__ text="Brak dostępnych form płatności."}</li>
        </ul>
     {/if}
</div>