<div id="st_application-user-account" class="st_application">
    <div id="st_application-user-account-header">
        <h1 class="st_title" style="width:230px;">
            {__ text="Zmiana hasła."}
        </h1>
        <p>
            {__ text="Proszę sprawdzić pocztę."}
        </p>
        <br class="st_clear_all" />
    </div>
    <div class="st_content">    
    
        <p>
            {__ text="Na podany w czasie rejestracji adres, został wysłany mail z nowymi danymi do konta sklepu."}
            {$login_link}
        </p>
        
    </div>
    <div id="st_application-user-login-foot">
    </div>
</div>