<div style="padding:10px 0px 5px 20px;width:600px;">
    <div id="head">
        <div style="margin:10px 0px 7px 0px;">
            {__ text="Twoje konto zostało utworzone"}
        </div>
        <div style="margin:10px 0px 7px 0px;">
            {__ text="dnia:"} {$day}, {__ text="o godzinie:"} {$hour}
        </div>
        <br style="clear:both;"/>
    </div>
    <div style="background:url(images/background_content.png) top left repeat-x;background-color:#fff;padding:25px 0px 0px 12px;">
        <div style="border-bottom:1px solid #efefef;text-align:left;font-size:14px;color:#404040; padding:0px 0px 7px 0px;">
            {__ text="Oto Twoje dane dostępowe"}
        </div>
        <div style="text-align:left;font-size:14px;color:#404040;margin:15px 0px;">
            {__ text="Login:"} {$login}
        </div>      
        <div style="text-align:left;font-size:14px;color:#404040;margin:15px 0px;">
            {__ text="Hasło:"} {$password}
        </div>   
    </div>
</div>