<div id="st_application-user-account" class="st_application">
    <div id="st_application-user-account-header">
        <h1 class="st_title">
            {__ text="Rejestracja"}
        </h1>
        <p>
            {__ text="Nie masz jeszcze założonego konta. Wystarczy, że podasz hasło dla loginu"}: <b>{$login}</b><br>
            {__ text="Uzyskasz w ten sposób pełne konto z dostępem do swoich danych i informacji o statusach zamówienia."}
        </p>
        <br class="st_clear_all" />
    </div>
    <div class="st_content">    
        {$form_start}
            <fieldset>
                <div class="st_row">
                    {$error_email}
                    {$label_email}
                    <div class="st_field">
                        {$input_email}
                        {$input_hidden_email}
                    </div>
                </div>  
                <div class="st_row">
                    {$error_password1}
                    {$label_password1}
                    <div class="st_field">
                        {$input_password1}
                        <script type="text/javascript">
		                  jQuery('#st_form-user-password1').pstrength();
		                </script>
                    </div>
                </div>  
                <div class="st_row">
                    {$error_password2}
                    {$label_password2}
                    <div class="st_field">
                        {$input_password2}
                    </div>
                </div>  
                {if isset($captcha_on)}
                    <div class="st_row">
                        {$error_captcha}
                        <div style="margin-left:110px; margin-bottom: 2px;">
                            {$get_captcha}
                        </div>
                        {$label_captcha}
                        <div class="st_field">     
                            {$input_captcha}
                        </div>
                    </div>  
                {/if}
                <div class="st_row">
                    {$error_privacy}
                    <div class="st_field">        
                        {$checkbox_privacy}
                        {$link_to_privacy}
                    </div>
                </div>  
                <div class="st_row">
                    <div id="st_button-user-account" class="st_button-container" style="margin-right:10px;">
                        <div class="st_button st_align-right">
                            <div class="st_button-left">
                                {$register_submit}
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>    
        </form>
    </div>
    <div id="st_application-user-login-foot">
    </div>
</div>