<div id="st_application-user-remind" class="st_application">
    <div id="st_application-user-remind-header">
        <h1 class="st_title">
            {__ text="Przypomnij hasło"}
        </h1>
        <p>
            {__ text="Podaj adres email, który służy jako login użytkownika, zostanie wysłane na niego link do zmiany hasła."}
        </p>
        <br class="st_clear_all" />
    </div>
    <div class="st_content">    
        {if isset($not_send_true)}
            {$form_start}
                <fieldset>
                    <div class="st_row">
                        {$label_email}    
                        {$error_email}
                        <div class="st_field">    
                            {$input_email}
                        </div>
                    </div>
                    {if isset($captcha_on)}
                        <div class="st_row">
                        {$error_captcha}
                            <div style="margin-left:110px; margin-bottom: 2px;">
                                {$get_captcha}
                            </div>
                            {$label_captcha}
                            <div class="st_field">     
                                {$input_captcha}
                            </div>
                        </div>  
                    {/if}
                    <div id="st_button-user-remind" class="st_button-container" style="margin-right:15px;">
                        <div class="st_button st_align-right">
                            <div class="st_button-left">
                                {$remind_submit}
                            </div>
                        </div>
                    </div>
                </fieldset>    
            </form>
        {else}
            <div id="st_application-user-remind-message">
                {$email_send_to}
            </div>
        {/if}
    </div>
    <div id="st_application-user-remind-foot">
        {$privacy_link}
    </div>
</div>