#st_remind
{
    margin-top: 10px;

}
#sf_admin_container .st_admin-actions input, #sf_admin_container .st_admin-actions button
{
    padding-left: 10px;
}

#st_remind .st_field
{
    float: left;
    width: 230px;
}

#st_remind label
{
    float: left;
    width: 490px;
    text-align: right;
    margin-right: 10px;

}

#st_form-remind-captcha, #st_form-remind-email, #st_form-remind-password1, #st_form-remind-password2
{
    width: 172px;
}

#st_form-remind-field1
{
    margin-top: 10px;
}

#st_form-remind-field2
{
    margin-left: 500px;
}

#st_form-remind-field3
{
    margin-top: 3px;
    margin-left: 300px;
}

#st_form-remind-field4
{
    width: 330px;
}

.st_error
{
    color:red;
}