<div id="st_component-st_basket-add_enable">
    <form action="{$form_action}" method="post" id="st_basket-add-to-basket-form">
        {$attributes}
        <div id="st_basket-add-button">
            <div class="st_button-left">
                <div class="st_button-right">
                    <div id="st_basket-add-submit-container">{$submit_button}</div>
			        <div id="st_basket-add-quantity_container">{$quantity_field}</div>
					<br class="st_clear_all" />
                </div>
            </div>    
        </div>
        <br class="st_clear_all" />
    </form>
</div>