<div id="st_component-st_basket-basket_preview">        
    <div id="st_component-basket-content" class="st_content">
        <ul> 
            <li id="st_icon_basket" {$get_tooltip}>
                {$icon_basket}
            </li>            
            <li id="st_sum">
                {$num}
            </li>           
            <li {$get_tooltip}>
                {$amount_product}
            </li>            
            <li>
                {$currency}
            </li>
        </ul>
        {$basket_add}
    </div>    
</div>