<div id="full-list">
    <div class="full-list product-list row">
        {assign var='i' value=0}
        {foreach key=row item=product from=$results}
        {assign var='i' value=$i+1} 
        <div class="product col-xs-12 col-sm-4 col-md-4 col-lg-4 item nr_{$i}">
            <div class="thumbnail clearfix">
                    <div class="pg_label">
                    {foreach key=group_id item=group_image from=$product.my_groups}
                    {$group_image}
                    {/foreach}
                    </div> 
                {if $show_image==1}<div class="image">{$product.photo}</div>{/if}
                <div class="caption clearfix">
                    <div class="caption_inner text-center">
                        
                            {if $show_name==1}<p class="text-center name">{$product.name}</p>{/if}
                            {if $show_availability}
                                <div class="product-availability">
                                    {$product.availability}
                                    {if $show_stock}
                                        ({$product.stock} {$product.uom})
                                    {/if}
                                </div>
                            {elseif $show_stock}
                                <div class="product-availability">
                                    {__ text="Dostępność" langCatalogue="stAvailabilityFrontend"}: {$product.stock} {$product.uom}
                                </div>
                            {/if}
                            {if $show_weight}<div class="weight text-center">{if $product.weight}{__ text="Waga"}: {$product.weight}{/if}</div>{/if}
                            {if $show_price==1}
                            <div class="main_price text-center">
                            {if $show_discount==1 && $product.discount!=0 && $product.check_price!=1}
                                <div class="discount-old_price">
                                    <div class="discount">{__ text="Rabat"}: <span class="nowrap">{$product.discount} %</span></div>
                                </div>
                            {elseif ($show_old_price==1 && $product.check_price!=1 && $product.check_old_price==1)}
                                <div class="discount-old_price">
                                    <div class="price old_price nowrap">
                                    {if ($price_view=='net_gross' || $price_view=='only_net')}
                                        {$product.old_price_net}
                                    {else}
                                        {$product.old_price}
                                    {/if}
                                   </div>
                               </div>
                            {/if}                    
                            {if $show_price==1 && $product.check_price!=1 && $product.points_only!=1}
                                {if $price_view=='net_gross'}
                                    <div class="price major_price">{__ text="netto"}: <span class="nowrap">{$product.price_net}</span></div>
                                    <div class="price minor_price">({__ text="brutto"}: <span class="nowrap">{$product.price}</span>)</div>
                                {elseif $price_view=='only_gross'}
                                    <div class="price nowrap">{$product.price}</div>
                                {elseif $price_view=='only_net'}
                                    <div class="price">{__ text="netto"}: <span class="nowrap">{$product.price_net}</span></div>
                                {elseif $price_view=='gross_net'}
                                    <div class="price major_price">{__ text="brutto"}: <span class="nowrap">{$product.price}</span></div>
                                    <div class="price minor_price">({__ text="netto"}: <span class="nowrap">{$product.price_net}</span>)</div>
                                {/if}

                            {/if}
                            </div>
                            {/if}
                            <div class="text-muted basic_price text-center">
                                {if $product.basic_price}
                                    <i>{$product.basic_price.quantity} ( {$product.basic_price.brutto} {__ text="za"} {$product.basic_price.for_quantity} )</i>
                                {/if}
                            </div>
                        <a class="mask-link" href="{$product.link}"></a>
                        {if $show_price==1 && $show_basket==1 && $product.check_price!=1}
                            <div class="hidden-xs text-center">
                               {basket_add_link product=$product.instance namespace="product_long"}
                            </div>    
                        {/if}
                    </div>  
                </div>
            </div>
        </div>    
    {/foreach}
    </div>
</div>

{literal}
<script type="text/javascript">
jQuery(function ($) {    

    var productId = '#full-list ';

    $(document).ready(function() {  
        var images = $('#full-list .image img');
        var cnt = images.length;

        function loaded() {
            cnt--;
            if (cnt == 0) {
                $('#full-list .full-list').masonry({
                    itemSelector: '.item'
                });
                heightMainProd(productId);
            }
        }

        for (var i = 0; i < images.length; i++) {
            var image = images[i];

            if (image.complete || image.readyState === 4) {
                loaded();
            }
            else {
                var $image = $(image);
                if (!$image.attr('src')) {
                    loaded();
                } else {
                    $image.one("load", loaded);
                }
            }
        }

        $(window).resize(function() {
            heightMainProd(productId);
        });  
    });   
});
</script>
{/literal}