<div id="product_group_new" class="product_group">
    <div class="product clearfix panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{$new_products_title}</h3>
        </div>
        <div class="panel-body">
        {foreach key=row item=product from=$results} 
            {if $row == 0} 
                <div class="image">{$product.photo}</div>
                <div class="st_product_options-color-on-list">{$product.colors}</div>
                <div class="caption">
                    <p class="name">{$product.name}</p>
                    {if $show_availability}
                        <div class="product-availability">
                            {$product.availability}
                            {if $show_stock}
                                ({$product.stock} {$product.uom})
                            {/if}
                        </div>
                    {elseif $show_stock}
                        <div class="product-availability">
                            {__ text="Dostępność" langCatalogue="stAvailabilityFrontend"}: {$product.stock} {$product.uom}
                        </div>
                    {/if}
                    {if $product.check_price!=1}
                        <div class="price-box">
                            {if $price_view=='net_gross'}
                                <div class="price">{__ text="netto"}: <span class="nowrap">{$product.price_net}</span></div>
                                <div class="minor_price price text-muted">({__ text="brutto"}: <span class="nowrap">{$product.price}</span>)</div>
                            {elseif $price_view=='only_gross'}
                                <div class="price"><span class="nowrap">{$product.price}</span></div>
                            {elseif $price_view=='only_net'}
                                <div class="price">{__ text="netto"}: <span class="nowrap">{$product.price_net}</span></div>
                            {elseif $price_view=='gross_net'}
                                <div class="price">{__ text="brutto"}: <span class="nowrap">{$product.price}</span></div>
                                <div class="minor_price price text-muted">({__ text="netto"}: <span class="nowrap">{$product.price_net}</span>)</div>
                            {/if}
                        </div>
                    {/if}
                </div>
            {else}
               <div class="other_group">{$product.name}</div>
            {/if}
        {/foreach}
        </div>
    </div>
</div>