{if $photos}
    {foreach key=row item=photo from=$photos name=foo}
        {capture name="imagehtml"}
            <div class="custom-html">
                <h4>{$photo.product_name}</h4>
                <p>{$photo.desc}</p>
            </div>
        {/capture}
        <li class="col-xs-2 col-sm-4 col-md-3 col-lg-3" data-sub-html="{$smarty.capture.imagehtml|escape:'html'}" data-src="{$photo.big_url}" data-id="{$photo.id}" data-equalizer-watch>
            <div>
                <div class="gallery-image">
                    <img class="img-responsive" src="{$photo.thumb_url}" alt="{$photo.desc}" />
                </div>
            </div>
        </li>
    {/foreach}
</ul>
{/if}