<div class="st_product-show_theme_default-box-star">
    <div id="star_raiting_overlay">
        <div class="overlay_content"></div>
    </div>
    <form id="form_stars" action="" >
        <input {if $lockd_star==1} disabled {/if} name="star1" type="radio" class="auto-submit-star" value="1" {if $star_raiting==1} checked="checked" {/if} />
        <input {if $lockd_star==1} disabled {/if} name="star1" type="radio" class="auto-submit-star" value="2" {if $star_raiting==2} checked="checked" {/if} />
        <input {if $lockd_star==1} disabled {/if} name="star1" type="radio" class="auto-submit-star" value="3" {if $star_raiting==3} checked="checked" {/if} />
        <input {if $lockd_star==1} disabled {/if} name="star1" type="radio" class="auto-submit-star" value="4" {if $star_raiting==4} checked="checked" {/if} />
        <input {if $lockd_star==1} disabled {/if} name="star1" type="radio" class="auto-submit-star" value="5" {if $star_raiting==5} checked="checked" {/if} />
        <a href="#st_tab_navigator-product_description" ></a>
    </form>
</div>
<div class="clear"></div>