<div id="copyright">
    {if $lang!="pl_PL"}
            <div class="link">
                <a href="https://www.soteshop.com/" target="_blank">ecommerce software</a>&nbsp;
            </div>
            <div class="logo_en">
                <a href="https://www.soteshop.com/" target="_blank"><img src="{image_path image='logo_foot.png'}" alt="ecommerce software poland" title="online shop SOTE" width="39" height="12"/></a>
            </div>  
    {else}
            <div class="link"><a href="https://www.sote.pl/" target="_blank">{__ text="oprogramowanie" langCatalogue="stFrontend"}</a></div>
            <div class="logo_sote"><a href="https://www.sote.pl/" target="_blank"><img src="{image_path image='logo_foot.png'}" alt="sklepy internetowe" width="39" height="12" title="sklep internetowy SOTE" /></a></div>
    {/if}
    <div class="clear"></div>
</div>