<div class="panel panel-default">
    <div class="panel-heading">{__ text="Wybierz prezent" catalogue="stBasket"}</div>
    <div class="panel-body">
        <div id="gift_group" class="product-list" data-equalizer>
            <div class="full-list row">
                {foreach key=row item=product from=$results}
                    {if $row < $max}
                    <div class="product col-xs-4 col-sm-4 col-md-3 col-lg-3">
                        <div class="thumbnail clearfix view-img">        
                            <span class="back-side-product">
                                <span class="description">{$product.description}</span>
                            </span>

                            <div class="image" data-equalizer-watch="image"><a href="#">{$product.photo}</a></div>
                            <div class="caption clearfix" data-equalizer-watch="caption">
                                <div class="product-shopping-cart">
                                    {$product.basket}
                                </div>    
                                <p class="text-center name"><span class="product_name">{$product.name}</span></p>
                                {if $product.old_price}
                                    <div class="discount-old_price text-center">
                                        <div class="price old_price">
                                            {$product.old_price}
                                        </div>
                                    </div>    
                                {/if}            
                                <div class="price">{$product.price}</div>
                            </div>      
                        </div>  
                    </div>   
                    {/if}
                {/foreach}
            </div>

            {if $more}
                <div class="text-right">
                    <button id="gift-group-more" type="button" class="btn btn-default" data-toggle="modal" data-target="#gift-group-modal">{__ text="Więcej" catalogue="stProduct"}</button>
                </div>
            {/if}
        </div>
    </div>
</div>   
        
{if $more}
    <div id="gift-group-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{__ text="Wybierz prezent" catalogue="stBasket"}</h4>
                </div>
                <div class="modal-body">
                    <div class="full-list row" data-equalizer>
                        {foreach key=row item=product from=$results}
                            <div class="product col-xs-4 col-sm-4 col-md-3 col-lg-3">
                                <div class="thumbnail clearfix view-img">        
                                    <span class="back-side-product">
                                        <span class="description">{$product.description}</span>
                                    </span>

                                    <div class="image" data-equalizer-watch="image"><a href="#">{$product.photo}</a></div>
                                    <div class="caption clearfix" data-equalizer-watch="caption">
                                        <div class="product-shopping-cart">
                                            {$product.basket}
                                        </div>    
                                        <p class="text-center name"><span class="product_name">{$product.name}</span></p>
                                        {if $product.old_price}
                                            <div class="discount-old_price text-center">
                                                <div class="price old_price">
                                                    {$product.old_price}
                                                </div>
                                            </div>    
                                        {/if}            
                                        <div class="price">{$product.price}</div>
                                    </div>      
                                </div>  
                            </div>   
                        {/foreach}
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{/if}
{literal}
<script type="text/javascript">    
//<![CDATA[
jQuery(function($) {
    var is_ajax = {/literal}{$is_ajax|string_format:"%d"}{literal};

    if (is_ajax) {
        $('#gift-group-container [data-equalizer]').equalizer();
    }

    $('#gift_group, #gift-group-modal').on('click', '.basket_add_link', function() {
        var link = $(this);

        var href = link.attr('href');

        if (href.indexOf('?') != -1) {
            href += '&gift=1';
        } else {
            href += '?gift=1';
        }

        link.attr('href', href);
    });

    $('#gift-group-modal').on('shown.bs.modal', function() {
        $(window).resize();
    }); 
});
//]]>
</script> 
{/literal}