<div id="main_categories" class="row product-list" data-equalizer>
  {foreach key=row item=category from=$results}   
      <div class="product col-xs-6 col-sm-4">
            <div class="thumbnail clearfix text-center">
                <div data-equalizer-watch="image">
                    <div class="image">{$category.photo}</div>
                </div>
                <div class="caption" data-equalizer-watch="caption">
                    <h3 class="name">{$category.name}</h3>
                    <div class="tinymce_html">{$category.description|truncate:130:"..."}</div>
                </div>
                <div class="product-shopping-cart" data-equalizer-watch="btn">
                    <a class="btn btn-shopping-cart" href="{$category.link}">{__ text="Sprawdź"}</a>
                </div>  
            </div>
      </div>  
  {/foreach}
</div>