{__ text="Data złożenia zamówienia"}: {$created_at}
{__ text="Zamówienie numer"}: {$number}

{__ text="Dane bilingowe"}:
{if $billing_company != ""}{$billing_company}{/if}

{if $vat_nr != ""}{__ text="NIP"}: {$vat_nr}{/if}

{$billing_full_name}
{$billing_address}
{if $billing_address_more != ""}{$billing_address_more}{/if}

{if $billing_region != ""}{$billing_region}{/if}

{if $billing_code_town != ""}{$billing_code_town}{/if}

{if $billing_pesel != ""}{__ text="PESEL"}:{$billing_pesel}{/if}

{$billing_full_phone}
        
{__ text="Dane dostawy"}:
{if $delivery_company != ""}{$delivery_company}{/if}

{$delivery_full_name}
{$delivery_address}
{if $delivery_address_more != ""}{$delivery_address_more}{/if}

{if $delivery_region != ""}{$delivery_region}{/if}

{if $delivery_code_town != ""}{$delivery_code_town}{/if}

{$delivery_full_phone}
   
{__ text="Lista zamówienia"}:

{foreach key=row item=product from=$results}
    {__ text="Kod"}: {$product.code}
    {__ text="Nazwa"}: {$product.name}
    {__ text="Netto"}: {$product.netto}
    {__ text="VAT"}: {$product.vat}
    {__ text="Brutto"}: {$product.brutto}
    {__ text="Ilość"}: {$product.quantity} {$product.uom}
    {__ text="Kwota"}: {$product.front_symbol} {$product.total_amount} {$product.back_symbol}
{/foreach}

{if $paid}
{__ text="Razem"}: {$total_amount}
{__ text="Zapłacono"}: {$paid}
{/if}

{__ text="Łączna kwota do zapłaty"}: {$final_total_amount}
{__ text="Płatność"}: {$payment_name}
{__ text="Dostawy"}: {$delivery_name}
{__ text="Koszt"}: {$delivery_cost}