<div id="review_list_user" class="box roundies">    
    {$user_panel_menu}
    <div class="st_review-my_reviews">
        <div class="st_content" style="padding: 10px 20px"> 
            {if isset($reviews_order)}
                <table class="st_tabular-list" cellspacing="0">
                    <colgroup>
                        <col width="100" />
                        <col width="120" />
                        <col width="180" />
                        <col width="100" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                            <span>
                                {__ text="Recenzja do zamówienia"}
                            </span>
                            </th>
                            <th>
                                <span>
                                    {__ text="Data dodania"}
                                </span>
                            </th>
                            <th>
                                <span>
                                    {__ text="Treść"}
                                </span>
                            </th>
                            <th>
                                <span>
                                    {__ text="Ocena"}
                                </span
                            ></th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach key=row item=review_order from=$results}
                            <tr>
                                <td>
                                    {$review_order.order_link}
                                    </td> 
                                <td>
                                    {$review_order.created_at}
                                </td>
                                <td>
                                    {$review_order.description}
                                </td>
                                <td>
                                    {$review_order.mark}
                                </td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            {else}
                <p style="text-align: center">
                    {__ text="Aktualnie nie posiadasz zrecenzowanych zamówień"}
                </p>
            {/if}
        </div>
    </div>
</div>