body
{
	background-color: #fff;
	color: #0d1c2f;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .tinymce_html h1, .tinymce_html h2, .tinymce_html h3, .tinymce_html h4, .tinymce_html h5, .tinymce_html h6, .panel-default>.panel-heading
{
	color: #0d1c2f;
}

#header,
#header-navbar
{
	background-color: #0d1c2f;
}

#header .social a
{
	border-color: #56616e;
}

header nav .container
{
	background: none;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th ,
#table_confirm_terms,
.nav>li>a:hover, .nav>li>a:focus
{
    background-color: #f5f6f7;
}

.table>tbody>tr>td,
#pa_attributes .table-striped,
#table_confirm_terms
{
	border-color: #e3e6ea;
}

.btn-navbar.collapsed:not(:hover):focus, .btn-navbar.collapsed
{
	color: #fff;
}

#nav-button-shopping-cart .quantity
{
	background-color: #e9072b;
}

#homepage-baner,
#homepage-carousel .swiper-slide-desktop
{
	background-color: #d6dee9;
}

.homepage-carousel .btn
{
	background-color: #153149;
	border-color: #153149;
}

.homepage-carousel .swiper-slide .caption p
{
	color: #7d8693;
}

.swiper-pagination-switch
{
	border-color: #848c98;
	background-color: transparent;
}

.swiper-active-switch
{
	background-color: #0c1b2e;
	border-color: #0c1b2e;
}

.homepage-carousel .arrow-left:before, .homepage-carousel .arrow-right:before, .homepage-carousel .arrow-left:after, .homepage-carousel .arrow-right:after
{
	background-color: #848c98;
}

.tinymce_html, .text-muted, .breadcrumb, #vertical-categories, .product-filter-container .form-group
{
	color: #9da1a8;
}

.btn-default, .btn-shopping-cart
{
	border-color: #153149;
}

.btn-primary, .information .btn-shopping-cart
{
	background-color: #e9072b;
	border-color: #e9072b;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .information .btn-shopping-cart:hover, .information .btn-shopping-cart:focus, .information .btn-shopping-cart:active
{
	background-color: #c50423;
	border-color: #c50423;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-shopping-cart:hover, .btn-shopping-cart:focus, .btn-shopping-cart:active, .btn-shopping-cart.active,
.homepage-carousel .btn:hover, .homepage-carousel .btn:focus, .homepage-carousel .btn:active,
.category-line .product .thumbnail .caption h2 a:hover, .category-line .product .thumbnail .caption h2 a:focus, .category-line .product .thumbnail .caption h2 a:active
{
	background-color: #e9072b;
}

.product-list .thumbnail, #main_categories .thumbnail, .category .thumbnail
{
	border-color: #e3e6ea;
}

.breadcrumb>li>a:hover, .breadcrumb>li>a:focus, .breadcrumb>li>a:active, a:hover, a:focus, #vertical-categories li.active>a,
.product-filter-container label:hover,
.card .prices .price
{
	color: #e9072b;
}

footer .navbar-default
{
	background-color: #0d1c2f;
	color: #808994;
}

footer .copyright 
{
    color: inherit;
}

footer .copyright,
footer .list-group
{
	border-color: #25364a;
}

#user-panel .panel
{
	background-color: #f5f6f7;
	padding: 10px 20px;
}

#user-panel-menu>li>a,
#wait-confirm-remind, #wait-confirm, #create-account, #login-user, #user-panel, #edit-account, #create-first-user-data, #edit-profile, #logout-user, #create-password, #remind-password, #create-password, #confirm-send-password, #order-list, #order-show, #user-newsletter, #user-panel-newsletter, #newsletter-remove, #newsletter-add-to-list, #newsletter-confirm, #newsletter-unsubscribe, #newsletter-unsubscribe-confirm, #discount-info
{
	border: none;
}

@media (min-width: 768px) {

	body
	{
		background-color: #eaeff5;
	}

	#nav-button-shopping-cart .quantity
	{
		background-color: #0d1c2f;
	}

	#header h1, #header h4
	{
		color: #fff;
		font-weight: 400;
		line-height: 140%;
		margin-top: 3px;
		padding-left: 0;
	}

	#header h1 small, #header h4 small
	{
		color: #9da1a8;
		display: block;
		line-height: inherit;
	}

	#top-social
	{
		text-align: right;
		width: 25%;
	}

	#header .slogan
	{
		width: 55%;
	}

	#logo-top.slogan-width
	{
		padding-right: 10px;
	}

	#header-navbar
	{
		background-color: #e9072b;
	}

	#nav-menu>.navbar-nav>li>a
	{
		color :#fff;
	}

	.homepage-carousel .swiper-slide-mobile
	{
		justify-content: flex-start;
	}

	#one-column-layout .card > .panel-body
	{
		padding: 30px;
	}

	#one-column-layout .card > .panel-body, 
	#one-column-layout .card > div > .panel-body,
	#one-column-layout #webpage-show, 
	#one-column-layout #blog-show, 
	#one-column-layout #edit-account, 
	#one-column-layout #order-show, 
	#one-column-layout #shopping-cart, 
	#one-column-layout #order-confirm, 
	#one-column-layout #order-summary,

	#login-user .panel-body, 
	#create-account .panel-body, 
	#create-first-user-data .panel-body, 
	#edit-profile-form .panel-body, 
	#newsletter-unsubscribe .panel-body,
	#wait-confirm-remind, 
	#wait-confirm, 
	#create-account, 
	#login-user, 
	#edit-account, 
	#create-first-user-data, 
	#logout-user, 
	#create-password, 
	#remind-password, 
	#create-password, 
	#confirm-send-password, 
	#order-show, 
	#user-newsletter, 
	#newsletter-remove, 
	#newsletter-add-to-list, 
	#newsletter-confirm, 
	#newsletter-unsubscribe, 
	#newsletter-unsubscribe-confirm
	{
		padding-left: 25px;
		padding-right: 25px;
	}

	#one-column-layout .bg-list
	{
		padding: 20px 25px;
	}
}

@media (min-width: 991px) {
	.homepage-carousel .swiper-slide .caption {
	    width: 46%;
	    padding: 2% 2%;
	}
}