<div id="st_order-quastion" class="st_component" style="border: none;">
    <h5 class="st_title">
        {__ text="Uwagi do zamówienia"}
    </h5>
    <div style="margin:5px; padding-top:8px">
        {$comment}
    </div>
</div>
<div id="st_button-user-edit_data_basket" class="st_button-container">
    <div class="st_button{if $disabled}-disabled{/if} st_align-right">
        <div class="st_button-left{if $disabled}-disabled{/if}">
            {$description_submit}
        </div>
    </div>
</div>
</form>    