#st_frame_przelewy24 table {
    width: 95%;
    margin: 0px auto;
}

#st_frame_przelewy24 td
{
    padding: 5px 0px;
    border-bottom: 1px dotted #ccc;
}

#st_frame_przelewy24 label
{
    width: auto;
    float: none;
    padding-left: 5px;
}

#st_frame_przelewy24 input
{
    position: relative;
    top: 1px;
}

#st_txt_przelewy24 {
    font-size: 12px;
    color: #000;
    text-align: center;
    padding-bottom: 10px;
}

#st_txt_przelewy24 span {
    font-weight: bold;
    padding: 0px 3px;
}

.st_logo_przelewy24 {
    text-align: center;
    padding-bottom: 15px;
}