.autocomplete-w1 
{ 
   margin:8px 0 0 6px;  
}

.autocomplete 
{ 
   min-width: 190px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border:1px solid #999; 
   background-color: #FFF; 
   max-height:350px; 
   overflow:auto; 
   margin:-6px 6px 6px -6px; 
}

.autocomplete div 
{ 
   white-space:nowrap; 
}

.autocomplete-indicator 
{ 
   vertical-align: middle; 
   margin-left: -16px; 
   margin-top: 5px; 
   position: absolute; 
   display: none 
}

.autocomplete > div
{
   clear: left;
   padding: 5px; 
}

.autocomplete .image
{
   padding-right: 5px;
   text-align: center;
}

.autocomplete .image, 
.autocomplete .info
{
   float: left;
}